In [50]:
import pandas as pd
from sklearn.preprocessing import Imputer
import numpy as np
from sklearn.cross_validation import train_test_split
import matplotlib.pyplot as plt

# Reading the dataset

In [51]:
hcc = pd.read_csv("hcc-data.csv")

In [52]:
hcc.head(n=2)

,Gender,Symptoms,Alcohol,Hepatitis B Surface Antigen,Hepatitis B e Antigen,Hepatitis B Core Antibody,Hepatitis C Virus Antibody,Cirrhosis,Endemic Countries,Smoking,...,Alkaline phosphatase,Total Proteins,Creatinine,Number of Nodules,Major dimension of nodule,Direct Bilirubin,Iron,Oxygen Saturation,Ferritin,Class
0,1,0.0,1,0.0,0.0,0.0,0.0,1,0.0,1.0,...,150.0,7.1,0.7,1.0,3.5,0.5,NaN,NaN,NaN,1
1,0,NaN,0,0.0,0.0,0.0,1.0,1,NaN,NaN,...,NaN,NaN,NaN,1.0,1.8,NaN,NaN,NaN,NaN,1

# Oversampling the data 2 times

In [53]:
#hcc = pd.concat([hcc]*2, ignore_index = True)

# Handling the values for continuous attributes

In [54]:
continuous_x = hcc.iloc[:,23:49]

In [55]:
continuous_x.head()

,Age_at_diagnosis,Grams of Alcohol per day,Packs of cigarets per year,Performance Status,Encefalopathy degree,Ascites degree,International Normalised Ratio,Alpha-Fetoprotein,Haemoglobin,Mean Corpuscular Volume,...,Gamma glutamyl transferase,Alkaline phosphatase,Total Proteins,Creatinine,Number of Nodules,Major dimension of nodule,Direct Bilirubin,Iron,Oxygen Saturation,Ferritin
0,67,137.0,15.0,0,1.0,1.0,1.53,95.0,13.7,106.6,...,183.0,150.0,7.1,0.70,1.0,3.5,0.5,NaN,NaN,NaN
1,62,0.0,NaN,0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.8,NaN,NaN,NaN,NaN
2,78,50.0,50.0,2,1.0,2.0,0.96,5.8,8.9,79.8,...,202.0,109.0,7.0,2.10,5.0,13.0,0.1,28.0,6.0,16.0
3,77,40.0,30.0,0,1.0,1.0,0.95,2440.0,13.4,97.1,...,94.0,174.0,8.1,1.11,2.0,15.7,0.2,NaN,NaN,NaN
4,76,100.0,30.0,0,1.0,1.0,0.94,49.0,14.3,95.1,...,173.0,109.0,6.9,1.80,1.0,9.0,NaN,59.0,15.0,22.0

In [56]:
y_value = hcc.iloc[: , 49]

In [57]:
imputer = Imputer(missing_values = "NaN" ,strategy = 'mean', axis = 0)

In [58]:
imputer = imputer.fit(continuous_x)

In [59]:
continuous_x = imputer.transform(continuous_x)

In [60]:
print(continuous_x)

[[  67.          137.           15.         ...,   85.59883721
    37.02894118  438.99764706]
 [  62.            0.           20.46428571 ...,   85.59883721
    37.02894118  438.99764706]
 [  78.           50.           50.         ...,   28.            6.           16.        ]
 ...,
 [  65.           71.00854701   48.         ...,   85.59883721
    37.02894118  438.99764706]
 [  44.           71.00854701   20.46428571 ...,   85.59883721
    37.02894118  438.99764706]
 [  52.           50.           20.46428571 ...,   85.59883721
    37.02894118  438.99764706]]

In [61]:
continuous_x = pd.DataFrame(data = continuous_x)

In [62]:
continuous_x = continuous_x.apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [63]:
continuous_x.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,0.643836,0.274,0.029412,0.0,0.0,0.0,0.173367,0.000052,0.635036,0.740519,...,0.103093,0.151954,0.032620,0.067568,0.2,0.097561,0.013699,0.382138,0.293880,0.196860
1,0.575342,0.000,0.040126,0.0,0.0,0.0,0.146194,0.010660,0.575110,0.511372,...,0.157878,0.215518,0.051591,0.125282,0.2,0.014634,0.062671,0.382138,0.293880,0.196860
2,0.794521,0.100,0.098039,0.5,0.0,0.5,0.030151,0.000003,0.284672,0.205589,...,0.115335,0.110062,0.031600,0.256757,1.0,0.560976,0.000000,0.125000,0.047619,0.007175
3,0.780822,0.080,0.058824,0.0,0.0,0.0,0.027638,0.001347,0.613139,0.550898,...,0.045747,0.176475,0.042813,0.122973,0.4,0.692683,0.003425,0.382138,0.293880,0.196860
4,0.767123,0.200,0.058824,0.0,0.0,0.0,0.025126,0.000026,0.678832,0.510978,...,0.096649,0.110062,0.030581,0.216216,0.2,0.365854,0.062671,0.263393,0.119048,0.009865

In [64]:
continuous_x.columns = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [65]:
continuous_x.head()

,a,b,c,d,e,f,g,h,i,j,...,q,r,s,t,u,v,w,x,y,z
0,0.643836,0.274,0.029412,0.0,0.0,0.0,0.173367,0.000052,0.635036,0.740519,...,0.103093,0.151954,0.032620,0.067568,0.2,0.097561,0.013699,0.382138,0.293880,0.196860
1,0.575342,0.000,0.040126,0.0,0.0,0.0,0.146194,0.010660,0.575110,0.511372,...,0.157878,0.215518,0.051591,0.125282,0.2,0.014634,0.062671,0.382138,0.293880,0.196860
2,0.794521,0.100,0.098039,0.5,0.0,0.5,0.030151,0.000003,0.284672,0.205589,...,0.115335,0.110062,0.031600,0.256757,1.0,0.560976,0.000000,0.125000,0.047619,0.007175
3,0.780822,0.080,0.058824,0.0,0.0,0.0,0.027638,0.001347,0.613139,0.550898,...,0.045747,0.176475,0.042813,0.122973,0.4,0.692683,0.003425,0.382138,0.293880,0.196860
4,0.767123,0.200,0.058824,0.0,0.0,0.0,0.025126,0.000026,0.678832,0.510978,...,0.096649,0.110062,0.030581,0.216216,0.2,0.365854,0.062671,0.263393,0.119048,0.009865

# Handling the values for nominal values

In [66]:
nom_x = hcc.iloc[:,0:23]

In [67]:
nom_x.head()

,Gender,Symptoms,Alcohol,Hepatitis B Surface Antigen,Hepatitis B e Antigen,Hepatitis B Core Antibody,Hepatitis C Virus Antibody,Cirrhosis,Endemic Countries,Smoking,...,Arterial Hypertension,Chronic Renal Insufficiency,Human Immunodeficiency Virus,Nonalcoholic Steatohepatitis,Esophageal Varices,Splenomegaly,Portal Hypertension,Portal Vein Thrombosis,Liver Metastasis,Radiological Hallmark
0,1,0.0,1,0.0,0.0,0.0,0.0,1,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,NaN,0,0.0,0.0,0.0,1.0,1,NaN,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,0.0,1,1.0,0.0,1.0,0.0,1,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
3,1,1.0,1,0.0,0.0,0.0,0.0,1,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1,1.0,1,1.0,0.0,1.0,0.0,1,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [68]:
imputer = Imputer(missing_values = "NaN" ,strategy = 'most_frequent', axis = 0)

In [69]:
imputer = imputer.fit(nom_x)

In [70]:
nom_x = imputer.transform(nom_x)

In [71]:
nom_x = pd.DataFrame(data = nom_x)

In [72]:
nom_x.columns = ['aa','ab','ac','ad','ae','af','ag','ah','ai','aj','ak','al','am','an','ao','ap','aq','ar','as','at','au','av','aw']

In [73]:
nom_x.head()

,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,...,an,ao,ap,aq,ar,as,at,au,av,aw
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [74]:
frames = [nom_x,continuous_x]

In [75]:
x_data = pd.concat(frames, axis=1)

In [76]:
x_data.head()

,aa,ab,ac,ad,ae,af,ag,ah,ai,aj,...,q,r,s,t,u,v,w,x,y,z
0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.103093,0.151954,0.032620,0.067568,0.2,0.097561,0.013699,0.382138,0.293880,0.196860
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.157878,0.215518,0.051591,0.125282,0.2,0.014634,0.062671,0.382138,0.293880,0.196860
2,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.115335,0.110062,0.031600,0.256757,1.0,0.560976,0.000000,0.125000,0.047619,0.007175
3,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.045747,0.176475,0.042813,0.122973,0.4,0.692683,0.003425,0.382138,0.293880,0.196860
4,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.096649,0.110062,0.030581,0.216216,0.2,0.365854,0.062671,0.263393,0.119048,0.009865

In [77]:
X_train, X_test, y_train, y_test = train_test_split(x_data,y_value,test_size=0.3, random_state=100)

# Fitting Kernel SVM to the Training set

In [78]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 101)
classifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=101, shrinking=True,
  tol=0.001, verbose=False)

# Predicting the Test set results

In [79]:
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix

In [80]:
from sklearn.metrics import confusion_matrix
from sklearn import metrics
cm = confusion_matrix(y_test, y_pred)

In [81]:
acc = metrics.accuracy_score(y_test,y_pred)
pre = metrics.precision_score(y_test,y_pred)
rec = metrics.recall_score(y_test,y_pred)
f = metrics.f1_score(y_test,y_pred)
print("accuracy = ",acc)
print("precision = ",pre)
print("recall = ",rec)
print("F-Measure = ",f)

accuracy =  0.58
precision =  0.58
recall =  1.0
F-Measure =  0.73417721519

# Visualising the Training set results

In [82]:
#X_train=X_train.values

In [83]:
#y_train=y_train.values

In [84]:
#from matplotlib.colors import ListedColormap

In [85]:
#X1, X2 = np.meshgrid(np.arange(start = X_set[:, 0].min() - 1, stop = X_set[:, 0].max() + 1, step = 0.01),np.arange(start = X_set[:, 1].min() - 1, stop = X_set[:, 1].max() + 1, step = 0.01))

In [86]:
#plt.contourf(X1, X2, classifier.predict(np.array([X1.ravel(), X2.ravel()]).T).reshape(X1),alpha = 0.75, cmap = ListedColormap(('red', 'green')))